<mat-card>
  <mat-form-field>
    <mat-label>Busca tu producto ahora!</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex.Keyboard RGB" #input>
    <mat-icon *ngIf="isFiltering" matSuffix>search</mat-icon>
  </mat-form-field>
</mat-card>
<h1></h1>
<mat-card *ngFor="let pr of products" class="product-card">

  <mat-card-header>
    <mat-card-title>{{pr.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://hardzone.es/app/uploads-hardzone.es/2020/01/AMD-Radeon-Ryzen-930x487.jpg" alt="Photo of product tecnologic card">
  <mat-card-content>
    <p>{{pr.description}}</p>
  </mat-card-content>
  <mat-card-actions class="action-buttons">
    <button mat-raised-button color="primary" matTooltip="Buy Product" (click)="navigateToPublishedProduct(pr.id)">
      <mat-icon>shopping_cart</mat-icon></button>
  </mat-card-actions>
</mat-card>

