<mat-card>
  <mat-card-header>
    <mat-card-title>
    <a href="javascript:void(0)"  (click)="navigateToHome()">
      <mat-icon  style="padding-right: 10px;">home</mat-icon>
    </a>
    User Profile
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-label><h3><strong><em>Firstname</em></strong></h3> </mat-label>
    <p>{{userData.firstname}}</p>
    <mat-label><h3><strong><em>Lastname</em></strong></h3></mat-label>
    <p>{{userData.lastname}}</p>
    <mat-label><h3><strong><em>Postal Code</em></strong></h3></mat-label>
    <p>{{userData.postalCode}}</p>
    <mat-label><h3><strong><em>Date Of Birth</em></strong></h3></mat-label>
    <p>{{userData.dateOfBirth}}</p>
    <mat-label><h3><strong><em>Address</em></strong></h3></mat-label>
    <p>{{userData.address}}</p>
    <mat-label><h3><strong><em>Phone Number</em></strong></h3></mat-label>
    <p>{{userData.phoneNumber}}</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button class="mat-button-text" color="primary" (click)="navigateToEditUser(userData.id)">Edit</a>
  </mat-card-actions>
</mat-card>

