.supplier-card {
  display: block;
  box-sizing: border-box;
  margin:20px;
  width: 50%;
  min-width: 300px;
  max-width: 400px;
  max-height: 400px;
  border: 1px solid transparent;
  background-color: ivory;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content:space-around;
}

.image{
  max-height: 75%;
}
.supplier-card:hover{
  border: 1px solid black;
}
