<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>

    </button>
    <span>CheapShop</span>
    <span class="default-spacer"></span>
    <div>
      <a mat-flat-button color="primary" routerLink="/home" routerLinkActive="active">HOME</a>
      <a mat-flat-button color="primary" routerLink="/products" routerLinkActive="active">PRODUCTS</a>
      <a mat-flat-button color="primary" routerLink="/categories" routerLinkActive="active">CATEGORIES</a>
      <a mat-flat-button color="primary" routerLink="/orders" routerLinkActive="active">ORDERS</a>
      <a mat-flat-button color="primary" routerLink="/suppliers" routerLinkActive="active">SUPPLIERS</a>
      <a mat-flat-button color="primary" routerLink="/user" routerLinkActive="active">USER</a>
      <a mat-flat-button color="primary" routerLink="/login" routerLinkActive="active">SUGGESTIONS</a>

    </div>

  </mat-toolbar-row>

</mat-toolbar>
<router-outlet></router-outlet>
