.category-card {
  display: block;
  box-sizing: border-box;
  margin:20px;
  width: 50%;
  min-width: 300px;
  max-width: 400px;
  max-height: 400px;
  border: 1px solid transparent;
}
.action-buttons{
  margin-left: 300px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.image{
  max-height: 50%;
}
.category-card:hover{
  border: 1px solid black;
}
