<mat-card>
  <mat-card-header>
    <mat-card-title>Orders</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="5" rowHeight="70px">
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Filter by UserId</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Insert User Id" #input>
          <mat-icon *ngIf="isFiltering" matSuffix>search</mat-icon>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> #Id </th>
        <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="userid">
        <th mat-header-cell *matHeaderCellDef> User Id </th>
        <td mat-cell *matCellDef="let element"> {{ element.userid }}</td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{ element.amount }}</td>
      </ng-container>
      <ng-container matColumnDef="purchase_date">
        <th mat-header-cell *matHeaderCellDef> Purchase Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.purchase_date }}</td>
      </ng-container>
      <ng-container matColumnDef="delivery_date">
        <th mat-header-cell *matHeaderCellDef> Delivery Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.delivery_date }}</td>
      </ng-container>
      <ng-container matColumnDef="delivery_address">
        <th mat-header-cell *matHeaderCellDef> Delivery Address </th>
        <td mat-cell *matCellDef="let element"> {{ element.delivery_address }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <a href="javascript:void(0)"  (click)="navigateToEditOrder(element.id)"><mat-icon inline aria-hidden="false" aria-label="Edit" style="padding-right: 10px;">details</mat-icon></a>
          <a href="javascript:void(0)" (click)="deleteItem(element.id)"><mat-icon inline aria-hidden="false" aria-label="Delete">delete</mat-icon></a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [ngClass]="{'editable-row': orderData.id === row.id}"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </mat-card-content>

  <mat-card-actions>
    <a mat-button class="mat-button-text" color="primary" (click)="navigateToAddOrder()">Add New Order</a>
    <a mat-button class="mat-button-text" color="primary" (click)="refresh()">Reload</a>
  </mat-card-actions>
</mat-card>
