<mat-card>
  <mat-card-header>
    <mat-card-title>Ordenes</mat-card-title>
    <mat-card-subtitle>{{ isEditMode ? 'Edit Order' : 'Add new Order' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile>
        <form (submit)="onSubmit()" #orderForm="ngForm">
          <mat-form-field>
            <input matInput placeholder="Date" name="date" required [(ngModel)]="orderData.date">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Order amount" name="order_amount" type="number" required [(ngModel)]="orderData.order_amount">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Delivery date" name="delivery_date" required [(ngModel)]="orderData.delivery_date">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Delivery address" name="delivery_address" required [(ngModel)]="orderData.delivery_address">
          </mat-form-field>
          <ng-container *ngIf="isEditMode; else elseTemplate">
            <button mat-button color="primary" class="mat-button-text">Update</button>
            <button mat-button class="mat-button-text" color="warn" (click)="cancelEdit()">Cancel</button>
          </ng-container>
          <ng-template #elseTemplate>
            <button mat-button color="primary" class="mat-button-text">Add</button>
          </ng-template>
        </form>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex.My order [profile name]" #input>
          <mat-icon *ngIf="isFiltering" matSuffix>search</mat-icon>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> #Id </th>
        <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.date }}</td>
      </ng-container>
      <ng-container matColumnDef="order_amount">
        <th mat-header-cell *matHeaderCellDef> Order Amount </th>
        <td mat-cell *matCellDef="let element"> {{ element.order_amount }}</td>
      </ng-container>
      <ng-container matColumnDef="delivery_date">
        <th mat-header-cell *matHeaderCellDef> Delivery Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.delivery_date }}</td>
      </ng-container>
      <ng-container matColumnDef="delivery_address">
        <th mat-header-cell *matHeaderCellDef> Delivery Address </th>
        <td mat-cell *matCellDef="let element"> {{ element.delivery_address }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <a href="javascript:void(0)"  (click)="editItem(element)"><mat-icon inline aria-hidden="false" aria-label="Edit" style="padding-right: 10px;">edit</mat-icon></a>
          <a href="javascript:void(0)"  (click)="navigateToEditOrder(element.id)"><mat-icon inline aria-hidden="false" aria-label="Edit" style="padding-right: 10px;">details</mat-icon></a>
          <a href="javascript:void(0)" (click)="deleteItem(element.id)"><mat-icon inline aria-hidden="false" aria-label="Delete">delete</mat-icon></a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [ngClass]="{'editable-row': orderData.id === row.id}"></tr>
    </table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button class="mat-button-text" color="primary" (click)="navigateToAddOrder()">Add New Order</a>
    <a mat-button class="mat-button-text" color="primary" (click)="refresh()">Reload</a>
  </mat-card-actions>
</mat-card>
